/*Tablet*/

@media (max-width: 991px) {
  .col-15 {
    width: 23%
  }

}

/*Smartphone large*/

@media (max-width: 767px) {
  .col-15 {
    width: 45%
  }

  .logo-sm {
    display: none;

  }

}

/*Smartphone xs*/

@media (max-width: 575px) {
  #sidebar {
    width: 70px;
  }

  #content {
    width: calc(100vw - 70px);
  }

  .logo-img {
    display: none;
  }

  .logo-sm {
    display: initial;

  }

  .xs {
    display: none;
  }

  .logo {
    height: 65px;
  }

  .profilo-name-img {
    margin: 20px 0;
    margin-left: 5px;
  }

  .download-btn {
    margin-left: 7px;
  }

}