/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Utility*/

/*Leyout*/

/*Main*/
main {
  background-color: #141922;
  height: calc(100vh - 80px);
}

/*Footer*/

footer {
  height: 80px;
  background-color: #282828;
}