/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Utility*/

/*Leyout*/

/*Main*/
main {
  background-color: #141922;
  height: calc(100vh - 80px);
  display: flex;
}

/*Sidebar*/
#sidebar {
  height: 100%;
  width: 200px;
  background-color: #000000;
}

/*Content*/
#content {
  height: 100%;
  width: calc(100vw - 200px);
  overflow-y: auto;
}


/*Footer*/

footer {
  height: 80px;
  background-color: #282828;
}